
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-folder-open fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Active Category</p>
                    <h6 class="mb-0">@ViewBag.activeCategoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-briefcase fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Active Employee</p>
                    <h6 class="mb-0">@ViewBag.activeEmployeeCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-building fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Number Of Apartment Listings</p>
                    <h6 class="mb-0">@ViewBag.apartmentCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-money-bill-wave fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Average Rent Price</p>
                    <h6 class="mb-0">@ViewBag.averageProductPriceByRent</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-tags fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Average Sale Price</p>
                    <h6 class="mb-0">@ViewBag.averageProductPriceBySale</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-bed fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Average Number Of Rooms</p>
                    <h6 class="mb-0">@ViewBag.averageRoomCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-th-list fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Number Of Category</p>
                    <h6 class="mb-0">@ViewBag.categoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-trophy fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Best Category</p>
                    <h6 class="mb-0">@ViewBag.categoryNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-city fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Listing - City</p>
                    <h6 class="mb-0">@ViewBag.cityNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-map-marker-alt fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Number Of Cities</p>
                    <h6 class="mb-0">@ViewBag.differentCityCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-user-tie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Most Successful Employee</p>
                    <h6 class="mb-0">@ViewBag.employeeNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-dollar-sign fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Last Listing Price</p>
                    <h6 class="mb-0">@ViewBag.lastProductPrice</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-calendar-plus fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Newest Building Year</p>
                    <h6 class="mb-0">@ViewBag.newestBuildingYear</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-calendar-minus fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Oldest Building Year</p>
                    <h6 class="mb-0">@ViewBag.oldestBuildingYear</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-eye-slash fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Number Of Passive Category</p>
                    <h6 class="mb-0">@ViewBag.passiveCategoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-map-marked-alt fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Number Of Listings</p>
                    <h6 class="mb-0">@ViewBag.productCount</h6>
                </div>
            </div>
        </div>
    </div>
</div>